tab-maker-block {
  display: inline-block;
  margin: .25rem;
}

tab-maker-measure {
  border-right: solid 1px;
  margin: .5rem;
  padding: 0 .5rem;
}

#tab-script {
  display: block;
  width: 80%;
  height: 10rem;
  
}